body {
  background-color: #F5F5F5;
  color: black;
  font-family: Lucida Console;
  font-size: 18px;
  font-weight: 400;

}

.label {
  background-color: #000000;
  border: 5px solid #4B0082;
  text-align: center;
}

.purchase-data {
  background-color: #000000;
  border: 2px solid blue;
}

.table, th, td {
  border: 2px solid #5F9EA0;
}

.th, td {
  width: 20%;
  text-align: center;
}

.column-names {
  background-color: #ecf8ec;
}

.balance {
  font-weight: bold;
}
