<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/expenses/basic.css}" rel="stylesheet"/>
    <link th:href="@{/styles/expenses/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/expenses/basic.css">
    <link rel="stylesheet" href="/static/styles/expenses/index.css">
</head>

<body>
<table id="purchaseDataTable" class="table">
    <tr class="column-names">
        <th class="th">#</th>
        <th class="th">Expenses Name</th>
        <th class="th">Expenses Date</th>
        <th class="th">Amount</th>

    </tr>
    <tr th:each="purchase : ${listas}">
        <td class="td" th:text="${purchaseStat.index+1}"></td>
        <td class="td" th:text="${purchase.expensesName}"></td>
        <td class="td" th:text="${purchase.expensesDate}"></td>
        <td class="td" th:text="${purchase.amount}"></td>

    </tr>

</table>


</body>
</html>