<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/incomes/basic.css}" rel="stylesheet"/>
    <link th:href="@{/styles/incomes/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/incomes/basic.css">
    <link rel="stylesheet" href="/static/styles/incomes/index.css">
</head>

<body>
<table id="incomeDataTable" class="table">
    <tr class="column-names">
        <th class="th">#</th>
        <th class="th">Income Name</th>
        <th class="th">Income Date</th>
        <th class="th">Income Amount</th>

    </tr>
    <tr th:each="income : ${listas}">
        <td class="td" th:text="${incomeStat.index+1}"></td>
        <td class="td" th:text="${income.incomeName}"></td>
        <td class="td" th:text="${income.incomeDate}"></td>
        <td class="td" th:text="${income.incomeAmount}"></td>

    </tr>



</table>


</body>
</html>